.header{
    margin-left: 100px;
    font-weight: 500;
    font-size: 20px;
}
.mainSubText{
    margin-left: 101px;
    font-weight: 400;
    font-size: 14px;
}

.smallHeader{
    margin-left: 115px;
    font-weight: 500;
    font-size: 16px;
}

.separator{
    border:none;
    height:1px;
    width:90%;
    margin-bottom:10px;
    margin-top:15px;
    background-color:gray;
}

.verticalCardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card{
    width: 70%;
    height: 80px;
    border: white solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    transform: translateZ(0);
}

.card .icon{
    height: 30px;
    width: 30px;
    align-self: center;
    margin-left: 30px;
}

.card .textSection{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
}

.card .textSection .title{
    font-weight: 500;
    font-size: 16px;
}

.card .textSection .subText{
    font-weight: 500;
    font-size: 11px;
}

.card .textSection .price{
    font-weight: 500;
    font-size: 11px;
    color: lightgreen;
}

.selectableCard{
    composes: card;
    background-color: rgba(255, 255, 255, 0.13);
    border: 2.5px rgba(255, 255, 255, 0.06) solid;
    cursor: pointer;
}

.selectableCard:hover{
    background-color: rgba(255, 255, 255, 0.25);
    border: 2.5px rgba(255, 255, 255, 0.4) solid;
}

.selectableCardSelected{
    composes: selectableCard;
    background-color: rgba(255, 255, 255, 0.27);
    border: 2.5px solid rgb(255, 255, 255);
}
.selectableCardSelected:hover{
    background-color: rgba(255, 255, 255, 0.27);
    border: 2.5px solid rgb(255, 255, 255);
}

.selectableCard .icon{
    height: 35px;
    width: 35px;
    align-self: center;
    margin-left: 20px;
}

.selectableCard .textSection{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 18px;
}

.selectableCard .textSection .title{
    font-weight: 500;
    font-size: 16px;
}

.selectableCard .textSection .subText{
    font-weight: 500;
    font-size: 11px;
}

.selectableCard .priceSection{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10px;
}

.selectableCard .priceSection .price{
    font-weight: 500;
    font-size: 15px;
    text-align: right;
}

.selectableCard .priceSection .priceSubText{
    font-weight: 500;
    font-size: 11px;
}

.mandatoryCard{
    composes: card;
}


.mandatoryCard .icon{
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 30px;
}

.mandatoryCard .textSection{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 18px;
}

.mandatoryCard .textSection .title{
    font-weight: 500;
    font-size: 16px;
}

.mandatoryCard .textSection .title .required {
    display: inline-flex;
    position: relative;
    bottom: 1px;
    background-color: darkred;
    width: 60px;
    height: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 3px;
    font-size: 12px;
    font-weight: 500;
}


.mandatoryCard .textSection .subText{
    font-weight: 500;
    font-size: 11px;
}

.mandatoryCard .priceSection{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 10px;
}

.mandatoryCard .priceSection .price{
    font-weight: 500;
    font-size: 15px;
    text-align: right;
}

.mandatoryCard .priceSection .priceSubText{
    font-weight: 500;
    font-size: 11px;
}

.summaryBox{
    align-self: center;
    width: 70%;
    background-color: rgba(128, 128, 128, 0.72);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summaryBox .priceLine{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.summaryBox .priceLine .label,
.summaryBox .priceLine .price {
    font-size: 14px;
    font-weight: 500;
}

