.bookingPanel{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 800px;
    height: 600px;
    background: rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(90px);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    animation: panelFadeIn 0.5s ease-in-out;
}

.mainPanelContextContainer{
    height: 430px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-color: rgba(255, 255, 255, 0.64) rgba(241, 241, 241, 0);
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

.bookingStepper{
    display: flex;
    align-self: center;
    width: 700px;
    height: 90px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgba(0, 0, 0, 0.06);*/
}
.step{
    display: flex;
    position: relative;
    height: 45px;
    width: 45px;
    border: rgba(0, 0, 0, 0.37) solid 2px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.currentStep{
    composes: step;
    background-color: rgb(28, 48, 128);
    box-shadow: #000000 0 0 3px;
}

.pastStep{
    composes: step;
    background-color: rgb(17, 28, 76);
}

.stepText{
    position: absolute;
    top: 47px;
    font-weight: 500;
}

.bottomNavContainer{
    width: 85%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.navPrice{
    font-weight: 600;
    font-size: 1.5em;
}

.mainButton{
    height: 40px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    user-select: none;
    font-size: 1.1em;
}

.mainButton:hover{
    cursor: pointer;
}

.navContinueButton{
    composes: mainButton;
    background-color: rgb(28, 48, 128);
    width: 150px;
}

.navContinueButtonGrayed{
    composes: mainButton;
    cursor: default !important;
    background-color: rgb(78, 78, 78);
    width: 150px;
}

.navContinueButton:hover{
    background-color: rgb(38, 64, 168);
    box-shadow: #000000 0 0 8px;
}

.navBackButton{
    composes: mainButton;
    background-color: rgba(28, 48, 128, 0);
    width: 100px;
    color: rgb(223, 223, 223);
}

.navBackButton:hover{
    color: rgb(255, 255, 255);
}

.header{
    align-self: flex-start;
    margin-left: 55px;
    font-weight: 500;
    font-size: 18px;
}

.titleHeader{
    composes: header;
    margin-top: 25px;
    font-weight: 500;
    font-size: 21px;
}

.scrollLocked {
    overflow-y: hidden !important;
    scrollbar-gutter: stable;
}

.bg {
    position: fixed;
    inset: 0;
    /*noinspection CssUnknownTarget*/
    background: url("/jeep-photo-7-ktfXQLH6.avif") center / cover no-repeat;
}

@keyframes fadeIn {
    from {opacity: 0; bottom: 40px}
    to {opacity: 1; bottom: 60px}
}

@keyframes panelFadeIn {
    from {opacity: 0; top: calc(50% + 30px);}
    to {opacity: 1; top: 50%}
}